<% if(error != ''){ %>
    <div class="alert alert-danger" role="alert">
        <%= error %>
    </div>
<% } %>

<div class="mx-auto">
    <h4 class="text-center"> Teacher Login </h4>
</div>
<form method="post">
    <div class="mb-3">
        <label for="studentName" class="form-label">Password</label>
        <input type="password" class="form-control" name="password">
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block my-3">Submit</button>
</form>